/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

h1 {
    background-color: black;
    color: white;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.3%;
    text-align: center;
    font-size: 1.5vw;
}

/* Botón Iniciar Sesión */
.btn-login {
    background-color: #4caf50;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-right: 10px; /* Espacio a la derecha */
}

.btn-login:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .btn-login {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* Ajustes del Navbar */
.navbar {
    background: linear-gradient(to right, #756f6f, #134a8e);
    transition: 0.3s ease-out all;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    color: white;
}

/* Botón Iniciar Sesión */
.btn-login {
    background-color: #4caf50;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #45a049;
}


/* Otros estilos */
.tituloprincipal {
    font-size: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.imagenChef {
    width: 70%;
    border-radius: 10px;
}

.imagenHome {
    width: 100%;
    border-radius: 10px;
}

input[type=text],
input[type=password],
input[type=date],
input[type=url],
input[type=number],
input[type=mail],
input[type=link],
textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario-container {
    background-color: #e3aeae;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .formulario-container {
        width: 95%;
        padding: 15px;
    }
}

input[type=submit] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 80%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 8px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    height: auto;
    margin-top: 20px;
}

.carousel-item {
    height: 500px;
}

@media (max-width: 768px) {
    .texto-columna {
        margin-bottom: 20px;
    }
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 250px;
    }
}

input[type=text],
input[type=password],
input[type=date],
input[type=url],
input[type=number],
input[type=email],
textarea {
    padding: 12px;
}

@media (max-width: 768px) {
    input[type=text],
    input[type=password],
    input[type=date],
    input[type=url],
    input[type=number],
    input[type=email],
    textarea {
        padding: 8px;
    }
}

.row > div {
    padding: 0 15px;
}

body {
    padding-top: 40px;
    background: linear-gradient(to right, #dc9494, #5198f0);
    color: white;
}

.texto-columna {
    background-color: rgb(76, 76, 76);
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .texto-columna {
        margin-bottom: 20px;
    }
}

.tituloSopa {
    text-align: center;
}

.botonReceta {
    transition: 0.5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    font-weight: 100;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 10px #072c59;
}

.botonReceta:hover {
    transform: translateY(-5px);
}
